<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.EditorsKeyboard"
        tools:targetApi="35">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.EditorsKeyboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DocumentationActivity"
            android:exported="false"
            android:theme="@style/Theme.EditorsKeyboard"/>
        <activity
            android:name=".ShowOpenSourceLibrariesActivity"
            android:exported="false"
            android:theme="@style/Theme.EditorsKeyboard"/>
        <service
            android:name=".EditorKeyboard"
            android:label="@string/service_label1"
            android:icon="@drawable/ic_launcher_foreground"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
            <meta-data android:name="android.view.im"
                android:resource="@xml/method"/>
        </service>
        <service
            android:name=".AuxiliaryKeyboard"
            android:label="@string/service_label2"
            android:icon="@drawable/ic_launcher_foreground"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
            <meta-data android:name="android.view.im"
                android:resource="@xml/method_auxiliary"/>
        </service>
    </application>
</manifest>